{
  "openapi": "3.1.0",
  "info": {
    "title": "AnyEnrich API",
    "description": "Enrich anything",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://anyenrich.com/enrich"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/company": {
      "post": {
        "description": "Enrich company information based on company name or website",
        "requestBody": {
          "description": "Company enrichment object",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NewEnrichment" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewEnrichment": {
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the company you want to enrich.  \nYou must include either a company name or a website.",
            "type": "string"
          },
          "website": {
            "description": "Website of the company you want to enrich.  \nYou must include either a company name or a website.",
            "type": "string"
          },
          "firmographic": {
            "description": "Firmographic data for the company you want to enrich, include multiple values if you want to enrich for multiple firmographics.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "industry",
                "revenue",
                "company_size",
                "location",
                "website_visitor_count"
              ]
            }
          },
          "query": {
            "description": "Any additional enrichment queries you want to include in the enrichment request.  You can use natural language to describe the query and our AI will do the rest.",
            "type": "string"
          }
        }
      },
      "EnrichmentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the enrichment request"
          },
          "credits_used": {
            "type": "integer",
            "description": "Number of credits used for the enrichment request"
          },
          "credits_remaining": {
            "type": "integer",
            "description": "Number of credits remaining for the enrichment request"
          },
          "firmographic": {
            "type": "object",
            "description": "Firmographic data that was enriched",
            "properties": {
              "industry": {
                "type": "string",
                "description": "Industry classification of the company, empty if no industry was provided",
                "nullable": true
              },
              "revenue": {
                "type": "string",
                "description": "Annual revenue range of the company, empty if no revenue was provided",
                "nullable": true
              },
              "company_size": {
                "type": "string",
                "description": "Employee count range of the company, empty if no company size was provided",
                "nullable": true
              },
              "location": {
                "type": "object",
                "description": "Location of the company, empty if no location was provided",
                "nullable": true,
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "Country where the company is headquartered",
                    "nullable": true
                  },
                  "state": {
                    "type": "string",
                    "description": "State where the company is headquartered",
                    "nullable": true
                  },
                  "city": {
                    "type": "string",
                    "description": "City where the company is headquartered",
                    "nullable": true
                  }
                }
              },
              "website_visitor_count": {
                "type": "string",
                "description": "Estimated monthly website visitors, empty if no query was provided",
                "nullable": true
              }
            }
          },
          "query_response": {
            "type": "string",
            "description": "Response to any additional enrichment queries, empty if no query was provided",
            "nullable": true
          }
        }
      },

      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
